*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
   
    height: 100%;
    width: 100%;
}

.container{
    height: 500px;
    width: 500px;
    background-color: chartreuse;
    margin:50px auto;
}

.box{
    display: inline-block;
    width: 70px; height: 70px;
    border: 1px solid whitesmoke;
    background-color: cornflowerblue;
    border-radius: 5px ;
}

.chotu{
    background-color: coral;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
}
